#root {
	position: relative;

	background-image: url('../img/5442676.jpg');
	background-size: cover;
	min-height: 100vh;
	max-height: 1000vh;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7); /* Adjust the last value (alpha) to control the darkness */
}
