.profit__wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}
.table {
	color: wheat;
	margin-top: 100px;
	border: 1px solid white;
	width: 100%;
  
	th,
	td {
		border: 1px solid white;
		padding: 8px;
		text-align: left;
	}
	tfoot{
		color:goldenrod
	}
	&__profit-td {
		background-color: rgba(40, 201, 40, 0.563);
	}
	&__lose-td {
		background-color: rgba(231, 41, 41, 0.797);
	}
}
